@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans";
  font-size: 12px;
  background-color: hsl(273, 75%, 66%);
  margin: 6% 15%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  box-shadow: 20px 18px 15px -4px rgba(0, 0, 0, 0.1);
  background: white;
  height: 500px;
  border-radius: 25px;
}

.images {
  height: 500px;
  position: relative;
}

/* images */
#bg-pattern-desktop {
  position: absolute;
  top: -100px;
  left: -200px;
  width: 600px;
  height: 700px;
}

#illustration-woman-online-desktop {
  position: absolute;
  top: 50px;
  left: -75px;
}

.box {
  position: absolute;
  top: 185px;
  left: -125px;
}

#bg-pattern-mobile,
#illustration-woman-online-mobile {
  display: none;
}

/* CONTENT */
.content {
  padding: 1em 5.9em;
  height: 500px;
}

.content h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 24px;
}

.content ul {
  list-style: none;
}

.content ul img {
  cursor: pointer;
}

.content ul hr {
  margin: 0.8em 0;
}

.content ul li {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.content ul li h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.content ul li p {
  display: none;
  max-width: 350px;
}

/* content - active */

.content ul li.active h4 {
  font-weight: 700;
}

.content ul li.active p {
  max-width: 350px;
  display: inline-block;
}

.content ul li.active img {
  transform: rotate(180deg);
}

.attribution {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin: 1rem auto;
}

/* hover properties */

.images:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.content ul li h4:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

/* Responsive Design */

@media screen and (max-width: 1440px) {
  .content {
    padding: 0.5em 2.5em;
  }
}
@media screen and (max-width: 1045px) {
  main {
    width: 800px;
    height: 470px;
  }

  .content {
    padding: 1em 2em;
  }

  #illustration-woman-online-desktop {
    top: 10px;
    left: -75px;
  }

  .box {
    top: 140px;
    left: -120px;
  }
}

@media screen and (max-width: 980px) {
  body {
    margin: 20% 15%;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 950px;
  }

  #illustration-woman-online-desktop {
    top: -210px;
    left: 50px;
  }

  #bg-pattern-mobile,
  #illustration-woman-online-mobile {
    display: block;
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50px;
  }
  .box {
    top: -80px;
    left: 20px;
  }

  #bg-pattern-desktop {
    display: none;
  }

  .content {
    padding: 7em 6em;
    height: 900px;
    /* margin: 50px auto; */
    font-size: 16px;
  }

  .content h1 {
    text-align: center;
    font-size: 50px;
  }

  .attribution {
    justify-content: center;
    font-size: 20px;
    margin: 2rem auto;
  }
}
